

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
}

.topics-header h1 {
	margin-bottom: 1rem;
}

.topics-header .sign-up {
	font-size: 24px;
	text-decoration: underline;
}

.topics-cont {
	margin-top: 5rem;
	text-align: center;
}

.topics-icons {
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.topics-icons .topics-card .inner {
	flex: 1;
}

.topics-icons .topics-card .text {
	flex: 1;
	align-items: center;
	display: flex;
	color: white;
}

.topics-icons .topics-card i {
	padding: 10px;
	font-size: 80px;
}

.loader-parent {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	width: 100%;
}

.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #6c63ff;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	/* Safari */
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.inner,
i,
.text,
p {
	pointer-events: none;
}

@media (min-width:320px) {
	* {
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
		font-family: 'Poppins', sans-serif;
	}
	body {
		background: initial;
		padding: 0px;
		color: none;
	}
	.master {
		display: block;
	}
	.sidebar {
		background: #6c63ff;
		display: block;
		bottom: 0%;
		width: 100%;
		position: fixed;
	}
	.sidebar ul {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		list-style-type: none;
		padding: 0px;
	}
	.sidebar ul li {
		color: white;
		font-size: initial;
		padding: 1rem;
		text-transform: uppercase;
	}
	.sidebar span {
		display: none;
	}
	.sidebar i {
		display: block;
		font-size: 1.5rem;
		margin: 0px;
	}
	.parent {
		display: flex;
		align-items: center;
		/* the height must be specified for align items to work, otherwise it will have no effect */
		height: 100%;
		width: 100%;
	}
	.sign-in h1 {
		text-align: center;
	}
	.sign-in button {
		all: unset;
		padding: 15px 32px;
		background: #6c63ff;
		border-radius: 1rem;
		color: white;
		transition: 0.2s;
	}
	.sign-in .button-container {
		padding: 2rem;
		text-align: center;
	}
	.information-view {
		border-radius: initial;
		display: block;
		height: 100%;
		/*
		overflow: scroll;
    */
		width: 100%;
	}
	.information-view .parent {
		margin-top: 5rem;
		flex-direction: column;
		padding: 0px;
	}
	.information-view .sign-in {
		padding: initial;
		margin-top: 3rem;
	}
	.information-view .parent .sign-in h1 {
		font-size: 2rem;
		padding: 2rem;
	}
	.information-view .parent .photo {
		order: -1;
		padding: inherit;
		width: 100%;
	}
	.information-view .parent .photo img {
		width: 100%;
	}
}


/*About Section */

.information-view .about {
	padding: 2rem;
	height: auto;
	width: 100%;
}

.information-view .about p {
	font-size: initial;
	letter-spacing: initial;
	line-height: initial;
	margin-bottom: 2rem;
}


/* Topics section */

.information-view .topics-header {
	width: 100%;
	padding: 1.3rem;
}

.information-view .topics-cont {
  margin:0px;
}
.information-view .topics-cont .topics-icons {
	display: block;
}

.information-view .topics-card {
	width: 100%;
	margin-bottom: 1rem;
	cursor: pointer;
	display: flex;
	font-size: 1.5rem;
}
/*video listings nested within topics section */

.information-view .listingParent {
  display:flex;
}
.listingParent .videoListing {
  width:100%;
  display:flex;
  margin:0px;
  margin-bottom:1rem;
}
.listingParent .videoListing .thumbnail {
flex:1;
padding:10px;
}
.listingParent .videoListing .content {
flex:1;
padding:10px;
}

@media (min-width:1025px) {
	body {
		background: #6c63ff;
		padding: 20px;
	}
	.master {
		display: flex;
	}
	.sidebar {
		align-items: center;
		display: flex;
		position: initial;
		width: 15%;
	}
	.sidebar i {
		padding: 20px;
	}
	.sidebar ul {
		width: 100%;
		display: flex;
		text-align: center;
		flex-direction: column;
		list-style-type: none;
	}
	.sidebar ul li {
		color: white;
		cursor: pointer;
		padding: 10px;
		font-size: 22px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	.sidebar ul li span {
		display: inline-block;
	}
	.information-view {
		width: 100%;
		background: white;
		height: 95vh;
		border-radius: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: initial;
	}
	.information-view .about {
		width: 50%;
		margin: 0 auto;
	}
	.information-view .about p {
		line-height: 2.0;
	}
	.information-view .parent {
		align-items: center;
		display: flex;
		flex-direction: row;
		height: 100%;
		width: 100%;
		margin-top: 0px;
	}
	.information-view .parent .photo {
		order: initial;
	}
	.sign-in {
		flex: 1 !important;
		padding: 2rem;
	}
	.sign-in h1 {
		padding: 2rem;
		font-size: 40px;
		text-align: center;
	}
	.sign-in .button-container {
		padding: 2rem;
		text-align: center;
	}
	.sign-in button {
		all: unset;
		padding: 15px 32px;
		background: #6c63ff;
		border-radius: 1rem;
		color: white;
		transition: 0.2s;
	}
	.sign-in button:hover {
		background: white;
		color: #6c63ff;
		border: 1px solid #6c63ff;
	}
	.photo {
		padding: 2rem;
		flex: 1;
	}
	/* TOPICS SECTION*/
	.topics-header {
		margin-top: 5rem;
		text-align: center;
		width: 50% !important;
	}
	.topics-header h1 {
		margin-bottom: 1rem;
	}
	.topics-header .sign-up {
		font-size: 24px;
		text-decoration: underline;
	}
	.topics-cont {
		margin-top: 0rem;
		text-align: center;
	}
	.topics-icons {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.topics-icons .topics-card {
		display: flex;
		cursor: pointer;
		padding: 10px;
		font-size: 20px;
		margin: 20px;
	}
	.topics-icons .topics-card .inner {
		flex: 1;
	}
	.topics-icons .topics-card .text {
		flex: 1;
		align-items: center;
		display: flex;
		color: white;
	}
	.topics-icons .topics-card i {
		padding: 10px;
		font-size: 80px;
	}
	.ternary-wrapper {
		all: inherit;
	}
}

.container {
	margin: 2rem;
	width: 250px;
	border: 1px solid;
	height: auto;
}

.container img {
	width: 100%;
}

.card {
	border: 1px solid red;
	width: 200px;
	padding: 40px;
	margin: 20px;
	cursor: pointer;
}

.listingParent {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	overflow: hidden;
}

.videoListing {
	cursor: pointer;
	width: 200px;
	margin: 20px;
	--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.videoListing img {
	width: 100%;
}

.videoListing .content {
	padding: 1rem;
}

.iframePanel {
	flex: 1;
}

.videoDescription {
	flex: 1;
}

